# ── Node/Angular/Ionic
node_modules/
dist/
www/
.angular/
.angular/cache/
coverage/

# ── Capacitor / Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
*.apk
*.aab


# ── Keystore / claves (¡importantísimo no subir!)
*.keystore
*.jks
*.pem
*.p12

# ── iOS (por si lo añades en el futuro)
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# ── Editores / SO
.vscode/
.DS_Store
Thumbs.db
