<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setup" text="volver a configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Insulina
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-card color="light">
    <ion-card-content>
      <div class="date">Hoy, {{ today | date: 'dd/MM/yyyy' }}</div>
    </ion-card-content>
  </ion-card>

  <ng-container *ngFor="let s of slots">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ s.label }}</ion-card-title>
        <ion-card-subtitle>{{ range(s) }}</ion-card-subtitle>
        <ion-text color="warning" *ngIf="missed.includes(s.id)">
          ⚠ Dosis olvidada
        </ion-text>
      </ion-card-header>


      <ion-card-content>
        <div *ngIf="s.kind === 'basal' || s.kind === 'both'" class="row">
          <ion-badge class="status-badge" [color]="basalDone(s) ? 'success' : 'medium'">
            {{ basalDone(s) ? 'Basal puesta' : 'Basal pendiente' }}
          </ion-badge>
          <ion-button size="small" fill="outline" (click)="toggleBasal(s)">
            {{ basalDone(s) ? 'Desmarcar' : 'Marcar basal' }}
          </ion-button>
        </div>

        <div *ngIf="s.kind === 'bolus' || s.kind === 'both'">
          <div class="row bolos">
            <ion-label>Bolos: {{ bolusSum(s) }} U</ion-label>
          </div>
          <div class="row">
            <ion-button size="small" fill="outline" *ngFor="let u of quicks" (click)="addBolus(s,u)">+{{u}}
              U</ion-button>
            <ion-input type="text" placeholder="Comentario"
              (keyup.enter)="addComment(s, $any($event.target).value); $any($event.target).value=''"></ion-input>
          </div>
        </div>

        <div class="row end">
          <ion-button size="small" fill="clear" (click)="resetSlot(s)">Reset franja</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-button expand="block" (click)="resetAll()">Reset global de hoy</ion-button>
  <ion-button expand="block" color="warning" (click)="simulate()">Simular Olvido</ion-button>

</ion-content>